.button-container {
    display: flex;
    gap: 10px; 
}
.delete-button {
    background-color: red;
    color: white;
}
.checkboxcontainer{
    margin-left: 20px;
}
.inputgap {
    margin-left: 5px; 
}
.gap {
  margin-left: 10px; 
  width:212px;
}

